html {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
  user-select: none;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

#root, .surfing, .surfing canvas {
  width: 100%;
  height: 100%;
}

.surfing{
  overflow: hidden;
}
.sb-show-main.sb-main-padded {
  padding: 0;
}

.pannel {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  color: white;
  padding: 5px;
  z-index: 10;
}
/* 
 */

/* canvas{
  background: black;
} */

