body{
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  
}

.pannel {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  color: white;
  padding: 5px;
  z-index: 10;
}
/* 
 */

/* canvas{
  background: black;
} */

